.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #aeaeae;
    padding: 25px 0 25px 0;
}

.list-item:last-child {
    border: none;
    padding: 25px 0 15px 0;
}

.item-title {
    width: 40%;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.field-label {
    font-size: 0;
    position: relative;
    cursor: pointer;
}

.field-label::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    border: 3px solid #888;
    border-radius: 5px;
}

.field-checkbox:checked + .field-label::after {
    content: "✔";
    position: absolute;
    top: 3px;
    left: 7px;
    color: #00ff00;
    font-size: 32px;
}

.field-checkbox {
    display: none;
}

.button-removal {
    color: #fff;
    font-size: 16px;
    border: 1px solid rgb(241, 86, 91);
    border-radius: 5px;
    background-color: rgb(241, 86, 91);
    cursor: pointer;
    padding: 10px;
}

.button-removal:hover {
    opacity: 0.9;
}

.button-removal:focus,
.button-removal:active {
    opacity: 0.5;
}
